{% extends 'layout.html' %}
{% block content %}
<!-- Start -->
    <div class="container">
      <div class="jumbotron">
        <h1>Hello, User!</h1>
        <p>If you want to use our APP</p>
        <p>
          <a class="btn btn-default btn-lg" href="/register" role="button">Create account</a>
          or
          <a class="btn btn-primary btn-lg" href="/login" role="button">ENTER</a>

        </p>
        <a class="" href="/create" role="link">Create new task</a>
      </div>
    </div>
<!-- End -->
{% endblock %}

{% block aloha %}
<h1>aloha</h1>
{% endblock %}
